*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Lato', sem serifa;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #2E2E2E;
    font-family: 'Bebas Neue';
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FCD116;
}
footer{
    margin-top: 52px;
    padding: 4px 0;
    height: 88px;
    background-color: #2E2E2E;
}

.footer{
   
    height: 12px;
    background: rgb(206,17,38);
background: linear-gradient(0deg, rgba(206,17,38,1) 4%, rgba(0,56,147,1) 18%, rgba(252,209,22,1) 23%, rgba(252,209,22,1) 50%, rgba(206,17,38,1) 55%, rgba(0,56,147,1) 68%, rgba(252,209,22,1) 74%);
    background-size: 100% 200%;
    animation: degrade-animado 7s  infinite alternate ;

}
.header{
    background-color: #2E2E2E;
    padding-bottom: 4px ;
}
.header_content{
    
    height: 12px;
    background: rgb(206,17,38);
background: linear-gradient(0deg, rgba(206,17,38,1) 4%, rgba(0,56,147,1) 18%, rgba(252,209,22,1) 23%, rgba(252,209,22,1) 50%, rgba(206,17,38,1) 55%, rgba(0,56,147,1) 68%, rgba(252,209,22,1) 74%);
    background-size: 100% 200%;
    animation: degrade-animado 7s  infinite alternate ;
}
main{
    background-color: white;
    margin: 42px 0 0 3.6%;
    display: flex;
    color: #2E2E2E;
}
.text-main{
    width: 35.13%;
}
.text-main h2{
    color: #FCD116;
    font-family: 'Bebas Neue';
    background-color: #2E2E2E;
    display: flex;
    width: 130px;
    justify-content: center;
}
.text-main p{
    
    margin-top: 8px;
}
.grid-main{
    width: 64.87%;

}
.grid{
    margin: 0 14.93% 0 7%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    
}
.item-grid{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    
    margin: 6px;
    padding: 20px 16px;
    text-align: center;
}
.grid-main-title{
    margin: 0 0 6px 7.8%;
    color: #FCD116;
    font-family: 'Bebas Neue';
    background-color: #2E2E2E;
    display: flex;
    width: 130px;
    justify-content: center;
}
aside nav{
    height: 65px;
    background-image:linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%); 
    
    
}
aside nav a{
    
    font-family: 'Bebas Neue';
    font-style: normal;
   list-style-type: none;
    font-size: 32px;
    line-height: 38px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
aside nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
aside nav li{
    margin: 10px 1.46%;
}
.home{
   
    
    background: linear-gradient(90deg, rgba(252,209,22,1) 55%, rgba(0,56,147,1) 61%, rgba(206,17,38,1) 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    

}
@keyframes degrade-animado{
    0%{
       background-position-y: 0%; 
    }
    100%{
        background-position-y: 100%;
    }
}