*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursiva;
    font-family: 'Lato', sem serifa;
}
header{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #2E2E2E;
    font-family: 'Bebas Neue';
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FCD116;
}
footer{

    padding: 4px 0;
    height: 88px;
    background-color: #2E2E2E;
}

.footer{
   
    height: 12px;
    background: rgb(206,17,38);
background: linear-gradient(0deg, rgba(206,17,38,1) 4%, rgba(0,56,147,1) 18%, rgba(252,209,22,1) 23%, rgba(252,209,22,1) 50%, rgba(206,17,38,1) 55%, rgba(0,56,147,1) 68%, rgba(252,209,22,1) 74%);
    background-size: 100% 200%;
    animation: degrade-animado 7s  infinite alternate ;

}
.header{
    background-color: #2E2E2E;
    padding-bottom: 4px ;
}
.header_content{
    
    height: 12px;
    background: rgb(206,17,38);
background: linear-gradient(0deg, rgba(206,17,38,1) 4%, rgba(0,56,147,1) 18%, rgba(252,209,22,1) 23%, rgba(252,209,22,1) 50%, rgba(206,17,38,1) 55%, rgba(0,56,147,1) 68%, rgba(252,209,22,1) 74%);
    background-size: 100% 200%;
    animation: degrade-animado 7s  infinite alternate ;
}
main{
    height: 500px;
    background-color: white;
}
.text-main h2{
    color: #FCD116;
    font-family: 'Bebas neue';
    margin: 6% 0 0 4%;
    background-color: #2E2E2E;
    display: flex;
    width: 130px;
    justify-content: center;
}
.text-main p{
    color: #2E2E2E;
    margin: 12px 0 0 4%;
}

@keyframes degrade-animado{
    0%{
       background-position-y: 0%; 
    }
    100%{
        background-position-y: 100%;
    }
}